- style = ("display:none;" unless params[:show_contact_form] )
-  on_search_page ||= false
.info_wrapper_no_cart{style: "margin-top: 20px;"}
  - if defined?(additional_text)
    .wrap
      %span.mobile-hide= additional_text
  = link_to t("forms.send_message_to_int"), "#", class: "intranet-button send-message", style: "margin: 0; float:none;text-decoration: none;"
  .base-form.i-c-form{style: "width: 100%; #{style}"}
    = simple_form_for ticket, as: :ticket, remote: true do |f|
      = f.input :search_id, as: :hidden
      = hidden_field_tag :recipient_id, interpreter_id
      - unless user_signed_in?
        = f.input :name, label: false, input_html: {placeholder: t("forms.name"), class: 'base-input'}
        = f.input :email, label: false, input_html: {placeholder: t("forms.email"), class: 'base-input'}
        = f.input :phone, label: false, input_html: {placeholder: t("forms.phone"), class: 'base-input'}
      = f.simple_fields_for :messages do |f|
        = f.input :message, label: false, autofocus: true, input_html: {placeholder: t("forms.order_message"), class: 'base-input'}, as: :text
      .clear
      - if on_search_page
        %label{style: "margin-top: 30px;"}
          = check_box_tag :send_to_all
          = t("forms.send_to_all")
      .clear
      = f.submit t("forms.send_button"), class: 'base-input-submit'
:coffee
  $(".send-message").on("click", (e)->
    e.preventDefault()
    $(this).parents(".info_wrapper_no_cart").find(".base-form").toggle()
  )