%p Hi,

%p An interpreter sent an account inquiry:
%ul
  %li #{inquiry.name} #{inquiry.surname}
  %li #{inquiry.email}
  %li Phone: #{inquiry.phone}
  %li City: #{inquiry.city}
  %li #{inquiry.speak_russian ? "Yes,": "No"} speaks Russian

%p Regards,
%p Interpreters Travel Team