.partner-search
  .text-container
    %span.text-title= t("partner_search_form.title")
    %br
    %span.text-desc= t("partner_search_form.desc")

  = simple_form_for :search, url: searches_path, html: {id: 'base_form_search', target: "_blank"}  do |f|
    .label
      %span.lab
        = t('search_form.where')
        %div{style: "float: right;"}
          = image_tag 'logo.png', style: "width: 130px;"
      %br
      %span.error
      = f.error :city
      %input.find_translator_city{type: 'text', placeholder: t('search_form.city'), name: 'search[city_name]'}
      %input#search_city_id.hidden{name: 'search[city_id]', type: 'hidden', value: "#{@search.city.id unless @search.city.nil?}"}
    = hidden_field_tag :partner_id, params[:partner_id]
    = f.submit t("partner_search_form.show"), class: 'sub_bot'
  .clear


:javascript
  var API_BASE_URL = "#{ENV['API_BASE_URL']}"
  $(document).on('ready page:change', function(e) {
      $('.find_translator_city').val("#{@search.city.nil? ? '' : "#{@search.city.to_str}"}").removeClass('act');
      var cache = {};
      function select(event, ui) {
        $('.find_translator_city').disableInputFor(1000);
        setTimeout(function() {$('.find_translator_city').val(ui.item.label)}, 500);
        $('#search_city_id').val(ui.item.value);
        return false;
      }
      cityAjaxIsRunning = false
      $('.find_translator_city').autocomplete({
        minLength: 2,
        delay: 0,
        source: function(request, response){
          if(cityAjaxIsRunning) {
            return;
          }
          var term = request.term;
          if (term in cache){
            response(cache[term]);
            return;
          }
          cityAjaxIsRunning = true;
          $.ajax({
                type: 'GET',
                url: API_BASE_URL+'/cities?interpreters_search=true&locale=#{params[:locale]}',
                dataType: 'jsonp',
                crossDomain: true,
                data: request,
                success:function(data){
                  cache[ term ] = data;
                  item = data[0]
                  if(item && term.length >= 5) {
                    console.log("SELECT!")
                    select('select', {item: item});
                  }
                  else if(item) {
                    // $('.find_translator_city').val(item.label);
                    // $('#search_city_id').val(item.value);
                  }
                  else {
                    $('#search_city_id').val(null);
                  }
                  cityAjaxIsRunning = false
                  response( data );
                },
                error:function(jq, st, error){
                  alert(error);
                }
          });

        },
        focus: function(event, ui){
          $('.find_translator_city').val(ui.item.label);
          return false;
        },
        select: select
    });
  });