= simple_form_for :order, :url => orders_path, multipart: true, html: { class: 'personal_form order_form' }, remote: true  do |f|
  %input{ id: :interpreter_id, type: :hidden, value: params[:order][:interpreter_id], name: "order[interpreter_id]"}
  %input{ id: :search_id, type: :hidden, value: params[:order][:search_id], name: "order[search_id]"}
  %input{ id: :service_id, type: :hidden, value: params[:order][:service_id], name: "order[service_id]"}
  %input{ id: :operator_id, type: :hidden, value: params[:order][:operator_id], name: "order[operator_id]"}

  .contact_info
    .title
      = t("order_page.personal_form.title")
    .input-container
      %input{name: "order[client_attributes][assigned_full_name]", class: "name#{'act_inp' if @user}", placeholder: t("order_page.personal_form.name"), value: (@user.try(:full_name) || @order.client.full_name), type: "text"}
    .input-container
      %input{name: "order[phone]", class: "phone-for-sms", "placeholder" => t("order_page.personal_form.sms_phone"), value: (@order.phone), type: "text", "data-sms-url" => send_code_path, readonly: false ? true : false}

    - unless user_signed_in?
      .input-container
        %input.no_mrg{name: "order[client_attributes][email]", class: "#{'act_inp' if @user}", placeholder: t("order_page.personal_form.email"), value: (@user.try(:email) || @order.client.email.downcase), type: "email", readonly: @user ? true : false   }
    .clear
  .translator_info.user_info
    .title
      = t("order_page.personal_form.info_for_interpreter")
    .input-container.addr
      %input.adr.google-address{name: "order[meeting_address]", autocomplete: "off", "placeholder" => t("order_page.personal_form.meeting_address"), type: "text"}
      %div.custom-dropdown
    .open_map_link.mobile-hide= t("order_page.personal_form.map_link")
    .map_modal.mobile-hide
      %input#map_address{type: "text", style: "width: 100%"}
      #leaflet-address-select-map{style: "width: 100%; height: 90%;"}
    .clear
    %textarea{cols: 10, name: 'order[detail_information]', placeholder: t("order_page.personal_form.detail_information"), rows: 10}
    .mobile-hide
      %p{style: "display: block;font: 15px 'robotolight'"}= t("order_page.personal_form.file_field")
      = f.file_field :file
    = hidden_field_tag "order[client_currency_code]", session[:current_currency], class: "currency-field"
    .clear
  = render partial:  'orders/new/order_agreement'
  .text-center
    %input.order_form_submit{type: "submit", value: t("order_page.personal_form.submit")}
  .clear
  %br
