<% yml_path = "devise.mailer.reset_password_instructions" %>
<p><%= t("#{yml_path}.hello") %>, <%= @resource.full_name %>!</p>

<p><%= t("#{yml_path}.someone_has_requested") %></p>

<p><%= link_to t("#{yml_path}.link"), edit_password_url(@resource, :reset_password_token => @token) %></p>

<%= raw t("#{yml_path}.footer") %> 
